body {
  background-color: #f8d196;
  color: black;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }

  &__button{
    align-self: center;
    outline: none;
    width: 25%;
    height: 20rem;
    border-radius: 50%;
    background-color: #28cb42;

    &:nth-child(1){
      background-color: #28cb42;
    }

    &:nth-child(2){
      background-color: red;
    }

    &:nth-child(3){
      background-color: blue;
    }
    
    @media only screen and (max-width: 600px) {
      width: 10rem;
      height: 10rem;
    }
  }
}