body {
  color: black;
  padding: 2rem 1rem 2rem 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  height: 95vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.container {
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  height: 65vh; }
  @media only screen and (max-width: 600px) {
    .container {
      flex-direction: column;
      margin-top: 0; } }
  .container__button {
    align-self: center;
    width: 24%;
    height: 50%; }
    .container__button:focus {
      outline: 0; }
    .container__button:nth-child(1) {
      background-image: url("../images/talk.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 10%;
      outline: none; }
    .container__button:nth-child(2) {
      background-image: url("../images/khaana.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 10%; }
    .container__button:nth-child(3) {
      background-image: url("../images/shabbakhair.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 10%; }
    @media only screen and (max-width: 600px) {
      .container__button {
        width: 90%;
        margin-bottom: 1rem; } }
    @media only screen and (min-width: 601px) and (max-width: 800px) {
      .container__button {
        width: 30%;
        height: 30%;
        margin-bottom: 1rem; } }
